﻿<!DOCTYPE html>
<!--
    Story by Pixelarity
    pixelarity.com | hello@pixelarity.com
    License: pixelarity.com/license
-->
<html>
<head>
    <title>Critical Fit</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/css")
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper" class="divided">

        @RenderBody()

        <!-- Footer -->
        <footer class="wrapper style1 align-center">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://www.facebook.com/criticalfitrpg" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="http://instagram.com/criticalfitrpg" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="mailto:criticalfitrpg@gmail.com" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p>&copy; @DateTime.Now.Year - Roll Critical Fit, LLC.</p>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
	@Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/mainjs")
	@RenderSection("scripts")
	<script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>