﻿@{
    ViewBag.Title = "Home Page";

		Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Critical.Fit.Models.ContactUsModel
<!-- One -->
<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <h1>Critical Fit</h1>
        <p class="major">Where Nerdiness and Fitness Combine.</p>
        <p>Critical Fit is a group that focuses on combining aspects of nerd culture and exercise science to provide our audience with interesting and accurate information about fitness.  We host a podcast, make nutrition and recipe videos, and are also developing a fitness program that doubles as a role-playing game!  Visit this page to check on the progress of our projects and explore everything Critical Fit has to offer.</p>
        <ul class="actions vertical">
            <li><a href="#first" class="button big wide smooth-scroll-middle">Learn More</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="~/images/MikeKettlebell.jpg" alt="Critical.Fit" />
    </div>
</section>

<!-- Two -->
<section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Get Fit. Roll Crits.</h2>
        <p>
            The Critical Fit RPG is a fitness program that combines elements of tabletop games like Dungeons &amp; Dragons with science-based exercise protocols.  You first perform some tests to create a character based on your actual abilities, then decide how to shape your character's quest (and YOUR fitness)!
        </p><p>
            The program is currently under development and is planned for a late 2017 release.  Check back for more information!
        </p>
        <ul class="actions vertical">
            <li><a href="#nutrition" class="button big wide smooth-scroll-middle">See Nutrition</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="~/images/ClassesSquare.jpg" alt="" />
    </div>
</section>

<!-- Five -->
<section class="wrapper style1 align-center" id="nutrition">
    <div class="inner">
        <h2>Nutrition</h2>
        <p class="major">Fuel Your Body CritFit Style!</p>
        <p>Here we will post videos and recipes that are CriticalFit Crew approved!  We are not nutritionists, but we know what works for us.  Check out our recipes and send us any ideas you'd like us to feature on the page!</p>
        <ul class="actions vertical">
            <li><a href="#podcasts" class="button big wide smooth-scroll-middle">Listen to our podcasts</a></li>
        </ul>
    </div>

    <!-- Gallery -->
    <div class="gallery style1 small onscroll-fade-in">
        <article>
            <a href="https://www.youtube.com/embed/5FJZCOZ7e3w?fs=1&wmode=opaque&rel=0" class="image">
                <img src="~/images/Nutrition.jpg" alt="" />
            </a>
            <div class="caption">
                <h3>Protein and Oats Pre/Post-Workout Shake!</h3>
                <ul class="actions">
                    <li><span class="button small">View</span></li>
                </ul>
            </div>
        </article>
    </div>

</section>

<!-- Six -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Podcast</h2>
        <p class="major">The Podcast for Your Inner Fitness Nerd.</p>
        <p id="podcasts">
            Critical Fit is a podcast that answers the burning questions you've always had about your favorite heros in anime, comics, and movies - "Would that training actually work?" "Are any of these feats of strength possible?" "How can I train to emulate my favorite hero?"
        </p><p>
            All of this and more is discussed on the podcast by exercise physiologist Daniel and a rotating cast of guest podcasters!  Download the 'cast weekly for more nerdy fitness information.
        </p>
    </div>

    <!-- Gallery -->
    <div class="gallery style1 big onscroll-fade-in">
        <article>
					<a href="https://drive.google.com/file/d/0B0dem_t96gqpRHpHZHFMM0t2RVE/view?usp=sharing" class="image">
						<img src="~/images/Podcast.jpg" alt="" />
					</a>
            <div class="caption">
                <h3>Episode 1: The Vertical Maneuver Gear (Attack on Titan)</h3>
                <p>In this solo podcast, Daniel discusses the realism of the vertical maneuver gear (or three-dimensional maneuver gear) from Shingeki no Kyojin (Attack on Titan). This topic will be revisited in the future!</p>
                <ul class="actions">
                    <li><a href="https://drive.google.com/file/d/0B0dem_t96gqpRHpHZHFMM0t2RVE/view?usp=sharing" class="button small">Download</a></li>
                </ul>
            </div>
        </article>
        <article>
					<a href="https://drive.google.com/file/d/0B0dem_t96gqpd2xneEFpTGwtZ0U/view?usp=sharing" class="image">
						<img src="~/images/Podcast.jpg" alt="" />
					</a>
            <div class="caption">
                <h3>Episode 2: Mike Orallo of Orange Park Crossfit</h3>
                <p>Here Daniel welcomes Coach Mike Orallo of Orange Park Crossfit to the show to discuss training and how anime and comics inspired him to take up fitness as a career and lifestyle.</p>
                <ul class="actions">
                    <li><a href="https://drive.google.com/file/d/0B0dem_t96gqpd2xneEFpTGwtZ0U/view?usp=sharing" class="button small">Download</a></li>
                </ul>
            </div>
        </article>
        <article>
					<a href="https://drive.google.com/file/d/0B0dem_t96gqpZzIzclRXcEVEdGM/view?usp=sharing" class="image">
						<img src="~/images/Podcast.jpg" alt="" />
					</a>
            <div class="caption">
                <h3>Episode 3: Talking DBZ with the Dragon</h3>
                <p>Daniel welcomes James "The Dragon" Greaser to the show to answer a burning question: how much would Goku from DragonBallZ fame really need to eat to maintain his strength?</p>
                <ul class="actions">
                    <li><a href="https://drive.google.com/file/d/0B0dem_t96gqpZzIzclRXcEVEdGM/view?usp=sharing" class="button small">Download</a></li>
                </ul>
            </div>
        </article>
        <article>
					<a href="https://drive.google.com/file/d/0B0dem_t96gqpWF9vTUZPRzRiMFU/view?usp=sharing" class="image">
						<img src="~/images/Podcast.jpg" alt="" />
					</a>
            <div class="caption">
                <h3>Episode 4: The Athletic Window (Yuri on Ice!!!)</h3>
                <p>Daniel and James discuss the length of athletic careers and why certain sports have different peak ages and physical conditions.  This topic was inspired by the many sports like gymnastics and ice skating that feature athletes retiring often before their 20th birthday.</p>
                <ul class="actions">
                    <li><a href="https://drive.google.com/file/d/0B0dem_t96gqpWF9vTUZPRzRiMFU/view?usp=sharing" class="button small">Download</a></li>
                </ul>
            </div>
        </article>
        <article>
					<a href="https://drive.google.com/file/d/0B0dem_t96gqpZC1TZ3ZxZUNyREk/view?usp=sharing" class="image">
						<img src="~/images/Podcast.jpg" alt="" />
					</a>
            <div class="caption">
                <h3>Episode 5: Rocky vs. Drago and Differences in Training Protocols</h3>
                <p>Daniel and Mike discuss the different paths to fitness and how to personalize your routine to your goals.</p>
                <ul class="actions">
                    <li><a href="https://drive.google.com/file/d/0B0dem_t96gqpZC1TZ3ZxZUNyREk/view?usp=sharing" class="button small">Download</a></li>
                </ul>
            </div>
        </article>
        <article>
					<a href="https://drive.google.com/file/d/0B0dem_t96gqpblRobFVDbVNfNjg/view?usp=sharing" class="image">
						<img src="~/images/Podcast.jpg" alt="" />
					</a>
            <div class="caption">
                <h3>Episode 6: Saitama's Training and the Importance of Consistency</h3>
                <p>Daniel and James "The Dragon" Greaser discuss the infamous "Saitama Training" from One Punch Man, and how important consistency is when designing and starting an exercise regimen.  We also discuss overtraining and how to avoid losing progress by working out too much!</p>
                <ul class="actions">
                    <li><a href="https://drive.google.com/file/d/0B0dem_t96gqpblRobFVDbVNfNjg/view?usp=sharing" class="button small">Download</a></li>
                </ul>
            </div>
        </article>
    </div>

</section>

<!-- Seven -->
<section class="wrapper style1 align-center">
    <div class="inner medium">
        <h2>Get in touch</h2>
@using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { id = "form_contact" }))
{
	@Html.AntiForgeryToken()
            <div class="field half first">
                <label for="name">Name</label>
							@Html.TextBoxFor(x => x.Name, new { placeholder = "Name (required)", id = "name", type = "text"})
							@Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="field half">
                <label for="email">Email</label>
							@Html.TextBoxFor(x => x.Email, new { placeholder = "Email (required)", type = "email", id="email" })
							@Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="field">
                <label for="message">Message</label>
							@Html.TextAreaFor(x => x.Message, new { placeholder = "Type your message here...", id = "message", rows = "6" })
							@Html.ValidationMessageFor(x => x.Message)
            </div>
					<div class="field">
						<div class="g-recaptcha" data-sitekey="6LcheCwUAAAAAAZr-2Xp6H1tyOzXvUQBSgAm10xD"></div>
						<div id="result"></div>
					</div>
            <ul class="actions">
                <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
            </ul>
}
    </div>
</section>
@section scripts 
	{
<script>
	$('form').submit(function (event) {
		event.preventDefault();

		var formData = $('#form_contact').serialize();

		$.ajax({
			type: "POST",
			url: "@Url.Action("ContactUs", "Home")",
			data: formData,
			datatype: "json",
			success: function (data) {
				$('#result').html(data.is_valid ? "Message Sent" : "Message not sent");
			}
		});

	});
</script>
	}